
.container {

    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    top: 0;
    left: 0;


}

.item {
    background-color: rgba(123,198,199,0.8);
    margin: 2px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    
    
}
.item a:hover { 
    background-color: rgba(180, 254, 255, 0.8);  

    
}

a {
    text-decoration: none;
    color: white;
}


